/*
================================================================================

Here we add configuration files such as docker , manifest , profiles , process

================================================================================
*/


conda.enabled = true

docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'


manifest {
  description = 'Running Nextflow script for single cell seurat' 
  author = 'Dr Majeed Jamakhani'
  nextflowVersion = '24.04.2'
}



process {
    withName: OBJECT_CREATION_MS {
        container = 'majeedjamakhani/sc_gimm_nxt:sc--9805fdd00427d207'
    }

     withName: PREPROCESS {
        container = 'majeedjamakhani/sc_gimm_nxt:sc--9805fdd00427d207'
    }

}





profiles {
  standard {
    process.container = 'satijalab/seurat:5.0.0'
  }

  conda {
    process.conda = '/Users/majeedjamakhani/Softwares/miniconda3/envs/my_r_env'
  }

  
  docker {
    process.container = 'majeedjamakhani/sc_gimm_nxt:sc--9805fdd00427d207'
    docker.runOptions='-u $(id -u):$(id -g)'
    docker.enabled = true
  }

}






